name: "CD Pipeline"
on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types: [completed]

jobs:
  Pull-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: AWS Configure
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Pull and Deploy
        run: echo "Deploying ..."