name: "CI Pipeline"
on:
  push:
    # branches:
    #   - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main

jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Nodejs
        uses: actions/setup-node@v5
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm ci

      - name: Code Quality
        run: npm run lint

      - name: Execute the test
        run: npm run test

  Build-and-Push:
    runs-on: ubuntu-latest
    needs: Testing
    if: startsWith(github.ref,'refs/tags/') || startsWith(github.ref, 'refs/heads/main')
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Build docker image
        run: docker build -t nextjs-website:latest .

      - name: Push the docker image to docker public repositry
        id: push-to-docker-hub
        env:
          IMAGE_TAG: ${{ github.ref_name }}
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PERSONAL_ACCESS_TOKEN }}
          echo $IMAGE_TAG
          docker tag nextjs-website:latest ${{ secrets.DOCKER_USERNAME }}/nextjs-website:$IMAGE_TAG
          docker push ${{ secrets.DOCKER_USERNAME }}/nextjs-website:$IMAGE_TAG